.banner {
    margin: 0px 84px;
    padding: 18px 0px;
    font-family:"inter",sans-serif;
}
.subbanner {
    margin: 0px 233px;
    padding: 0px 12px;
    color: #79808a;
}
.subbanner1 {
    margin-left: 200px;
    padding: 0px 10px;
}
