.banner {
    margin: 0px 84px;
    padding: 18px 0px;
    font-family:"inter",sans-serif;
    z-index: 1;
}
.subbanner {
    margin: 0px 233px;
    padding: 0px 12px;
    color: #79808a;
}
.subbanner1 {
    margin-left: 230px;
    padding: 0px 10px;
}
.piccol {
    background-color: rgb(75, 75, 197);
    border-radius: 500px;
    position: relative;
    right: -800px;
    top: -150px;
}

